* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #414141;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

header {
    min-height: 866px;
}
.conteiner {
    position: relative;
    width: 1323px;
    margin: 0 auto;
}

.first {
    height: 82px;
    background: rgba(247, 247, 244, 0.9);
}

.menu .menu_item a, .logo a {
    text-decoration: none;
    color: #414141;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.first_btn .btn1, .btn2 {
    text-decoration: none;
    color: #414141;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}


.menu {
    float: left;
    list-style-type: none;
}

.menu .logo {
    margin-top: 24px;
    margin-right: 25px;
    float: left;
}

.menu .menu_item {
    margin-top: 31px;
    margin-right: 40px;
    display: inline-block;
}

.menu li:last-of-type {
    margin-right: 0;
}

.first_btn {
    display: flex;
    justify-content: flex-end;
}

.first_btn .btn1 {
    margin-top: 13px;
    margin-right: 28px;
    background-color: #F7F7F4;
    border: 1px solid #6AA089;
    border-radius: 10px;
    padding: 16px 24px 16px 26px;
}

.first_btn .btn2 {
    margin-top: 13px;
    background-color: #6AA089;
    border: 1px solid #F7F7F4;
    border-radius: 10px;
    padding: 16px 24px 16px 26px;
}

.first .first_img {
    position: absolute;
    top: 0px;
    left: 696px;
    z-index: -1;
}

.header {
    margin-top: 100px;
}

.header h1 {
    font-size: 44px;
    line-height: 52px;
    color: #414141;
    font-style: normal;
    font-weight: 400;
}

.header .subheader {
    margin-top: 72px;
    font-style: normal;
    font-size: 19px;
    line-height: 28px;
}

.header .subheader_item {
    margin-top: 38px;
    font-style: normal;
    font-size: 19px;
    line-height: 28px;
}

.header_btn {
    margin-top: 100px;
}

.header_btn1 {
    background-color: #6AA089;
    border: 1px solid #F7F7F4;
    border-radius: 10px;
    padding: 20px 52px 20px 52px;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 28px;
}

.header_btn2 {
    background-color: #F7F7F4;
    border: 1px solid #6AA089;
    border-radius: 10px;
    padding: 20px 52px 20px 52px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #414141;
}

.believe {
    min-height: 412px;
}

.believe .believe_header, .about .about_header {
    padding-top: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #414141;
}

.believe .believe_item, .about .about_item {
    margin-top: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #414141;
}

.believe .believe_img {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -105px;
}

.about {
    min-height: 256px;
    margin-top: 100px;
}

.about .about_header {
    padding-top: 0px;
}

.about .about_header span {
    color: #69A08A;
}

.collaboration {
    min-height: 883px;
}


.collaboration .collaboration_img {
    position: absolute;
    top: 0px;
    left: -97px;
    z-index: -1;
}

.collaboration .collaboration_conteiner {
    min-width: 536px;
    min-height: 298px;
    margin-left: 594px;
}

.collaboration .collaboration_header {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    color: #414141;
}

.collaboration .collaboration_item {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #414141;
}

.collaboration .collaboration_btn {
    display: inline-block;
    margin-top: 44px;
    background-color: #F7F7F4;
    border: 1px solid #6AA089;
    border-radius: 10px;
    padding: 20px 52px 20px 52px; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #414141;
    text-decoration: none;
}

.collaboration .collaboration_group {
    min-width: 836px;
    min-height: 253px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.collaboration .collaboration_group .group {
    height: 72px;
    margin-right: 95px;
    /* width: 33.33%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaboration .collaboration_group .group_one {
    margin-top: 34px;
}

.collaboration .collaboration_group .group .group_header {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #414141;
}

.collaboration .collaboration_group .group .group_item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    margin-top: 11px;
    text-align: center;
}

.collaboration .collaboration_group .group_one .group_header {
    margin-top: 25px;
}

.collaboration .collaboration_group .group_two .group_header {
    margin-top: 38px;
}

.collaboration .collaboration_group .group_three .group_header {
    margin-top: 32.3px;
}

.work {
    margin-top: 102px;
    min-height: 818px;
}

.work .work_conteiner {
    padding: 22px 0px 0px 0px;
    width: 414px;
    height: 288px;
}

.work .work_img {
    position: absolute;
    left: 707px;
    top: 0px;
}

.work .work_conteiner .work_header {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    color: #414141; 
}
.work .work_conteiner .work_item {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #414141;
}

.work .work_conteiner .work_btn, .motivation .motivation_conteiner .motivation_btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #414141;
    display: inline-block;
    margin-top: 44px;
    background-color: #F7F7F4;
    border: 1px solid #6AA089;
    border-radius: 10px;
    padding: 20px 52px 20px 52px; 
    text-decoration: none;
}

.work .work_group {
    min-width: 869px;
    min-height: 262px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.work .work_group .group {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work .work_group .group .group_header {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #414141;
}

.work .work_group .group_one .group_header {
    margin-top: 30px;
}

.work .work_group .group_two .group_header, .group_three .group_header {
    margin-top: 20px;
}

.work .work_group .group .group_item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    margin-top: 11px;
    text-align: center;
}

.motivation {
    min-height: 808px;
    margin-top: 100px;
}

.motivation .motivation_img {
    position: absolute;
    top: 0px;
    left: -104px;
    z-index: -1;
}

.motivation .motivation_conteiner {
    width: 548px;
    height: 266px;
    margin-left: 547px;
}

.motivation .motivation_conteiner .motivation_header {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    color: #414141;
}

.motivation .motivation_conteiner .motivation_item{
    margin-top: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #414141;
}

.motivation .motivation_group {
    margin-top: 293px;
    display: flex;
    justify-content: center;
    min-width: 858px;
    min-height: 237px;
}

.motivation .motivation_group .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
}

.motivation .motivation_group .group_one .group_img {
    margin-top: 10px;
} 

.motivation .motivation_group .group_one .group_header {
    margin-top: 34px;
}

.motivation .motivation_group .group_two .group_header {
    margin-top: 25px;
}

.motivation .motivation_group .group_three .group_header {
    margin-top: 15px;
}

.motivation .motivation_group .group_item {
    text-align: center;
    margin-top: 11px;
}

.team {
    margin-top: 100px;
    min-height: 333px;
}


.team .team_header {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #414141;
}

.team .team_subheader {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #414141;
    margin-top: 42px;
}

.team .team_item {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #414141;
    margin-top: 27px;
}

.team .team_img {
    position: absolute;
    top: 0px;
    left: 1398px;
}

.oh {
    margin-top: 145px;
    min-height: 245px;
}

.oh .oh_header {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #414141;
}

.oh .oh_img {
    position: absolute;
    z-index: -1;
    left: 701px;
    top: 95px;
}

.oh .oh_btn {
    margin-left: 553px;
    margin-top: 52px;
    background-color: #6AA089;
    border: 1px solid #6AA089;
    border-radius: 10px;
    padding: 21px 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    margin-top: 100px;
    min-height: 239px;
    background: #F7F7F4;
}

footer .footer_logo {
    display: inline-block;
    margin-top: 35px;
}

footer .footer_item, .footer_block .footer_menu a {
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #414141;
}

footer .footer_block {
    margin-top: 40px;
    display: flex;
    justify-content: start;
}

footer .footer_block .footer_menu {
    display: flex;
}

footer .footer_block .footer_menu li {
    list-style-type: none;
}

footer .footer_block .footer_menu .menu_item {
    margin-right: 18px;
}

footer .footer_block .footer_net {
    display: flex;
    margin-left: auto;
}

footer .footer_block .footer_net .net {
    margin-right: 16px;
}

.footer_block .footer_menu a {
    margin-top: 0px;
}